<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Article Details</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>Article Details</h1>
<div>
    <a href="/" class="button">Home</a>
</div>
<div class="article">
    <h2 th:text="${article.title}"></h2>
    <img th:src="${article.urlToImage}" alt="Article Image"/>
    <p th:text="${article.description}"></p>
    <p th:text="${article.content}"></p>
    <form th:action="@{/article/{id}/summarize(id=${article.id})}" method="get">
        <button type="submit" class="button">Summarize this article</button>
    </form>
</div>
<div th:if="${summary}">
    <h2>Summary</h2>
    <p th:text="${summary}"></p>
</div>
</body>
</html>
