<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News Summary - Category</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>News Articles - Category: <span th:text="${category}"></span></h1>
<div class="form-container">
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Search news">
        <button type="submit" class="button">Search</button>
    </form>
    <a href="/" class="button">Home</a>
</div>
<div>
    <ul>
        <li class="article" th:each="article : ${articles}">
            <h3>
                <a th:href="${article.url}" th:text="${article.title}" target="_blank"></a>
            </h3>
            <img th:src="${article.urlToImage}" alt="Article Image"/>
            <p th:text="${article.description}"></p>
            <a th:href="@{/article/{id}(id=${article.id})}" class="button">View details</a>
        </li>
    </ul>
</div>
</body>
</html>
