<!-- index.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News Summary</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="header">
    <h1>Welcome to News Summary Web!</h1>
    <h2>News Articles</h2>
</div>
<div class="form-container search">
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Search news">
        <button type="submit" class="button">Search</button>
    </form>
</div>
<div class="categories">
    <h2>Categories</h2>
    <ul>
        <li><a href="/category/business">Business</a></li>
        <li><a href="/category/entertainment">Entertainment</a></li>
        <li><a href="/category/health">Health</a></li>
        <li><a href="/category/science">Science</a></li>
        <li><a href="/category/sports">Sports</a></li>
        <li><a href="/category/technology">Technology</a></li>
    </ul>
</div>
<div class="articles">
    <h2>Articles</h2>
    <ul>
        <li class="article" th:each="article : ${articles}">
            <h3>
                <a th:href="${article.url}" th:text="${article.title}" target="_blank"></a>
            </h3>
            <img th:src="${article.urlToImage}" alt="Article Image"/>
            <p th:text="${article.description}"></p>
            <a th:href="@{/article/{id}(id=${article.id})}" class="button">View details</a>
        </li>
    </ul>
</div>
</body>
</html>
